.black {
	background-color: #000;
}

.red {
	background-color: #f00;
}

.green {
	background-color: #0f0;
}

.blue {
	background-color: #00f;
}

.yellow {
	background-color: #ff0;
}

.purple {
	background-color: #f0f;
}

.orange {
	background-color: #f90;
}

.cyan {
	background-color: #0ff;
}

.magenta {
	background-color: #f0f;
}

.lime {
	background-color: #0f0;
}
